<style>
  * {
    border: 1px dashed gray;
  }
  #nav-list li {
    font-size: 200%;
    margin-left: 10px;
    float: left;
    text-decoration: none;
    list-style: none;
  }
</style>

<div class="container" style="background-image: url('http://placehold.it/800x800'); height: 100vh;">
  <!-- Nav -->
  <nav>
    <ul id="nav-list">
      <li><%= link_to 'Blogs', blogs_path %></li>
      <li><%= link_to 'Portfolios', portfolios_path %></li>
    </ul>
  </nav>
  <!-- END Nav-->

  <h1 style="font-size: 400%; font-family: Arial, sans-serif; margin:0; padding:0;">Welcome to the Home page</h1>
</div>

<header>

</header>
